<div class="blog-post">
  <%= render @articles %>
</div>


<!--<div class="paging">-->
<!--<span class="current">1</span>-->
<!--<a href="#">2</a>-->
<!--<span class="dots">…</span>-->
<!--<a href="#">6</a>-->
<!--<a href="#">Next</a>-->
<!--</div>-->

<%= paginate(@articles, :theme => "custom") %>
